
<html>
  <head>
      <title>
        Excel file upload and processing: 
      </title>
    </head>
    <body stype = "margin-top: 30px; margin_left: 30px;">
      <form action="{% url "excels:index" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type = "file"
              title = "Upload excel file"
              name = "excel_file"
              style = "border: 1px solid black; padding: 5 px;"
              required = "required">
        <p>
        <input type="submit"
                value="Upload"
                style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
      </form>

      <p></p>
      <hr>

      {% for row in excel_data %}
        {% for cell in row %}
            {{ cell }}&nbsp;&nbsp;
        {% endfor %}
        <br>
      {% endfor %}
    </body>
  </html>